<div class="jumbotron text-center">
  <div class="dropdown text-left">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Guest List
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="guest in event.guests | orderBy:'guest'">{{guest}}</li>
    </ul>
  </div>
  <h1>{{event.name}}</h1>
  <h5>Hosted by: {{event.host}}</h5>
  <p>{{event.startDateTime | date:'medium'}}</p>
  <p>to</p>
  <p>{{event.endDateTime | date:'medium'}}</p>
  <p ng-if="event.message">Note to guests: {{event.message}}</p>
</div>
<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
  <ui-gmap-marker coords="map.marker.coords" idKey="map.marker.id" click="onClick()">
    <ui-gmap-window options="windowOptions" closeClick="closeClick()">
      <h5>{{event.location.address}}</h5>
    </ui-gmap-window>
  </ui-gmap-marker>
</ui-gmap-google-map>