<div class="row">

  <h1 class="jumbotron text-center">PROFILE</h1>
  <div class="">
  <form role="form">
    <div class="row">
      <p class="col-xs-6 form-group">
        <label>First Name:</label>
        <input type="text" name="fname" ng-model="profile.fname" class="form-control" />
      </p>

      <p class="col-xs-6 form-group">
        <label>Last Name:</label>
        <input type="text" name="lname" ng-model="profile.lname" class="form-control" />
      </p>
    </div>

    <div class="row">
      <p class="col-xs-12 col-sm-6 form-group">
        <label>Job Title:</label>
        <input type="text" name="jobTitle" ng-model="profile.jobTitle" class="form-control" />
      </p>

      <p class="col-xs-12 col-sm-6 form-group">
        <label>Employer:</label>
        <input type="text" name="employer" ng-model="profile.employer" class="form-control" />
      </p>
    </div>

    <div class="row">
      <p class="col-xs-6 form-group">
        <label>Birthday:</label>
        <!-- <input type="date" name="birthday" ng-model="birthday" ng-model-options="{ updateOn: 'blur' }" ng-change="update(birthday)" class="form-control" /> -->
        <input id="birthday" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="birthday" is-open="popup1.opened" datepicker-options="dateOptions" placeholder="Enter your birthday" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" ng-change="update()" required/>
        <i class="glyphicon glyphicon-calendar form-control-feedback calendar-profile-icon"></i>
      </p>

      <p class="col-xs-6 form-group">
        <label>Survival Skill:</label>
        <input type="text" name="survivalSkill" ng-model="profile.skill" class="form-control" />
      </p>
    </div>

    <div class="row">
      <p class="col-xs-6 form-group">
        <label>Account ID</label>
        <br />{{user.uid}}
      </p>

      <p class="col-xs-6 form-group">
        <label>Email:</label>
        <br />{{profile.email}}
      </p>
    </div>
  </form>
  </div>
</div>

<!-- <div class="col-md-4">
  <p>{{position.coords.latitude + " " + position.coords.longitude}}</p>
</div> -->

<!-- <div class="col-md-4">
<form role="form">
  <h3>Change Password</h3>

  <p class="form-group">
    <label>Old Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="oldpass" class="form-control" />
  </p>

  <p class="form-group">
    <label>New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="newpass" class="form-control" />
  </p>

  <p class="form-group">
    <label>Confirm New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="confirm" class="form-control" />
  </p>

  <button class="btn btn-primary" ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

  <p class="error" ng-show="err">{{err}}</p>
  <p class="good" ng-show="msg">{{msg}}</p>
</form>
</div>

<div class="col-md-4">
<form>
  <h3>Change Email</h3>

  <p class="form-group">
    <label>New Email:</label>
    <input type="text" ng-keypress="clear()" ng-model="newEmail" class="form-control" />
  </p>

  <p class="form-group">
    <label>Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="pass" class="form-control" />
  </p>

  <button class="btn btn-primary" ng-click="changeEmail(pass, newEmail)">update email</button>
</form>
</div>

</div> -->
<!-- <p class="clearfix"></p>
<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div> -->
