<!-- Thank you to Duncan @ http://stackoverflow.com/questions/27211799/angular-ng-repeat-add-bootstrap-row-every-3-or-4-cols -->
<!-- <div class="row"> -->
	<h1 class="jumbotron text-center">EVENTS</h1>
	<!-- <div class="center-block" ng-repeat="event in events | orderBy:'startDateTime'">
		<div class="clearfix" ng-if="$index % 3 == 0" ></div>
      <a ng-href="/#/events/{{event.$id}}" class="col-xs-12 col-sm-4 well event-card">
          <h2 class="text-center">{{event.name}}</h2>
          <p class="text-center">at: {{event.location.name}}</p>
      </a>
	</div> -->
<!-- </div> -->
<section class="row text-center center-block">
	<article class="col-xs-12 col-md-4 col-sm-6 well event-card" ng-repeat="event in events | orderBy:'startDateTime'">
		<div class="event-card-padding">
			<a ng-href="/#/events/{{event.$id}}">
    	  <h2 class="text-center">{{event.name}}</h2>
    	  <p class="text-center">at: {{event.location.name}}</p>
   	  </a>
		</div>
	</article>
</section>