<div class="row">
  <div class="col-md-6">Hello</div>
  <div class="col-md-6">
    <form class="form-signin">
      <h2 class="form-signin-heading text-center">Create an account</h2>
        <label for="accountName">Name</label>
        <input type="text" id="accountName" class="form-control" placeholder="Name" required autocomplete="name" name="name" type="name" ng-model="name" autofocus>
        <label for="accountEmail">Email address</label>
        <input type="email" id="accountEmail" class="form-control" placeholder="Email address" required autocomplete="email" name="email" ng-model="email">
        <label for="accountPass">Password</label>
        <input type="password" id="accountPass" class="form-control" placeholder="Password" ng-model="pass" name="pass" required>
        <label for="accountConfirm">Confirm Password</label>
        <input type="password" id="accountConfirm" class="form-control" placeholder="Confirm Password" ng-model="confirm" name="confirm" required>
        <button class="btn btn-lg btn-primary btn-block" ng-cloak ng-click="createAccount(email, pass, confirm)">Join Us</button>
    </form>
  </div>
</div>
<p ng-show="err" class="bg-danger">{{err}}</p>
