<div class="row">
  <div class="big-logo hidden-xs col-sm-3 col-md-4 col-lg-offset-1">
      <i class="glyphicon glyphicon-tent"></i>
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-7 col-lg-offset-0 col-lg-7">
    <form class="form-signin">
      <h2 class="form-signin-heading text-center">Create an account</h2>
        <p ng-show="err" class="bg-danger">{{err}}</p>
        <label for="accountName">Name</label>
        <input type="text" id="accountName" class="form-control" placeholder="Name" required autocomplete="name" name="name" type="name" ng-model="name" autofocus>
        <label for="accountEmail">Email address</label>
        <input type="email" id="accountEmail" class="form-control" placeholder="Email address" required autocomplete="email" name="email" ng-model="email">
        <div class="row">
          <div class="col-xs-6">
            <label for="accountPass">Password</label>
            <input type="password" id="accountPass" class="form-control" placeholder="Password" ng-model="pass" name="pass" required>
          </div>
          <div class="col-xs-6">
            <label for="accountConfirm">Confirm Password</label>
            <input type="password" id="accountConfirm" class="form-control" placeholder="Confirm Password" ng-model="confirm" name="confirm" required>
          </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-cloak ng-click="createAccount(email, pass, confirm)">Join</button>
    </form>
  </div>
</div>
