<div class="well">
  <form novalidate="" name="accountForm" class="form-signin css-form">
    <h2 class="form-signin-heading text-center">Create an account</h2>
    <p ng-show="err" class="bg-danger">{{err}}</p>

    <div class="row">
      <div class="col-xs-6">
        <label for="accountFirstName">First Name</label>
        <input type="text" id="accountFirstName" class="form-control" placeholder="First Name" required autocomplete="given-name" name="fname" ng-model="firstName" autofocus>
        <div ng-show="accountForm.$submitted || accountForm.fname.$touched">
          <span ng-show="accountForm.fname.$error.required">Please enter your First Name.</span>
        </div>
      </div>
      <div class="col-xs-6">
        <label for="accountLastName">Last Name</label>
        <input type="text" id="accountLastName" class="form-control" placeholder="Last Name" required autocomplete="family-name" name="lname" ng-model="lastName">
        <div ng-show="accountForm.$submitted || accountForm.lname.$touched">
          <span ng-show="accountForm.lname.$error.required">Please enter your Last Name.</span>
        </div>
      </div>
    </div>

    <label for="accountEmail">Email address</label>
    <input type="email" id="accountEmail" class="form-control" placeholder="Email address" required autocomplete="email" name="email" ng-model="accountEmail">
    <div ng-show="accountForm.$submitted || accountForm.email.$touched">
      <span ng-show="accountForm.email.$error.required">Please enter an email address.</span>
      <span ng-show="accountForm.email.$error.email">Please enter a valid email.</span>
    </div>

    <label for="accountPass">Password</label>
    <input type="password" id="accountPass" class="form-control" placeholder="Password" required ng-minlength="8" name="pass" ng-model="accountPass" my-validator>
     <div ng-show="accountForm.$submitted || accountForm.pass.$touched">
      <span ng-show="accountForm.pass.$error.minlength">Password must be at least 8 Characters long.</span>
      <span ng-show="accountForm.$error.containsLetter">Password must contain a letter</span>
      <span ng-show="accountForm.$error.containsNumber">Password must contain a number</span>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="accountForm.$invalid" ng-cloak ng-click="createAccount(accountEmail, accountPass)">Join</button>
  </form>
</div>