<div class="well">
  <form novalidate name="form" class="form-signin css-form">
    <h2 class="form-signin-heading text-center">Create an account</h2>
    <p ng-show="err" class="bg-danger">{{err}}</p>

    <div class="row">
      <div class="col-xs-6">
        <label for="accountFirstName">First Name</label>
        <input type="text" id="accountFirstName" class="form-control" placeholder="First Name" required autocomplete="given-name" name="fname" ng-model="firstName" autofocus>
        <div ng-show="form.$submitted || form.fname.$touched">
          <span ng-show="form.email.$error.required">Please enter your First Name.</span>
        </div>
      </div>
      <div class="col-xs-6">
        <label for="accountLastName">Last Name</label>
        <input type="text" id="accountLastName" class="form-control" placeholder="Last Name" required autocomplete="family-name" name="lname" ng-model="lastName">
        <div ng-show="form.$submitted || form.lname.$touched">
          <span ng-show="form.email.$error.required">Please enter your Last Name.</span>
        </div>
      </div>
    </div>

    <label for="accountEmail">Email address</label>
    <input type="email" id="accountEmail" class="form-control" placeholder="Email address" required autocomplete="email" name="email" ng-model="accountEmail">
    <div ng-show="form.$submitted || form.email.$touched">
      <span ng-show="form.email.$error.required">Please enter an email address.</span>
      <span ng-show="form.email.$error.email">Please enter a valid email.</span>
    </div>

    <label for="accountPass">Password</label>
    <input type="password" id="accountPass" class="form-control" placeholder="Password" ng-model="accountPass" ng-minlength="8" name="accountPass" my-contains-number required>
     <div ng-show="form.$submitted || form.accountPass.$touched">
      <span ng-show="form.accountPass.$error.minlength">Password must be at least 8 Characters long.</span>
      <span ng-show="form.accountPass.$error.myContainsNumber">Password must contain a number</span>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid" ng-cloak ng-click="createAccount(accountEmail, accountPass)">Join</button>
  </form>
</div>