<form novalidate name="form" class="form-new-event css-form">
  <h2 class="form-signin-heading text-center">Who What Where When & Why</h2>
  <p ng-show="err" class="bg-danger">{{err}}</p>

  <label for="eventName">What is this event called?</label>
  <input type="name" id="eventName" class="form-control" placeholder="event name" ng-model="eventName" name="eventName" required>

  <label for="eventHost">Who's hosting this event?</label>
  <input type="name" id="eventHost" class="form-control" placeholder="event host" ng-model="eventHost" name="eventHost" required>

  <label for="eventLocation">Where is it happening?</label>
  <input type="name" id="eventLocation" class="form-control" placeholder="event location" ng-model="eventLocation" name="eventLocation" required>

  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid" ng-cloak ng-click="addEvent(eventName, eventHost, eventLocation)">Party On Wayne</button>
</form>