<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-9">
    <form novalidate name="form" class="form-new-event css-form">
      <h2 class="form-signin-heading text-center">Who What Where When & Why</h2>
      <p ng-show="err" class="bg-danger">{{err}}</p>
      <label for="eventName">What is this event called?</label>
      <input type="name" id="eventName" class="form-control" placeholder="event name" ng-model="eventName" name="eventName" required>
      <label for="eventHost">Who's hosting this event?</label>
      <input type="name" id="eventHost" class="form-control" placeholder="event host" ng-model="eventHost" name="eventHost" required>
      <label for="eventGuestSearch">Who's attending this event?</label>
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" id="guestListToggle" data-toggle="offcanvas">View Guest List</button>
      </p>

      <div  angucomplete-alt id="eventGuest" placeholder="Search for guests" pause="300" selected-object="selectedPerson" local-data="users" local-search="localSearch" title-field="fname,lname" minlength="1" input-class="form-control form-control-small" match-class="highlight" clear-selected="true">
      </div>
        <!-- <div class="col-xs-2">
          <button class="btn btn-primary btn-lg" type="submit" ng-cloak ng-click="addGuest(selectedPerson.originalObject); clearSelection(eventGuest)">Add</button>
        </div> -->
      <label for="eventLocation">Where is it happening?</label>
      <div id="eventLocation"></div>
      <!-- <input type="name" id="eventLocation" class="form-control" placeholder="event location" ng-model="eventLocation" name="eventLocation" required> -->
      <script type="text/ng-template" id="searchbox.tpl.html">
        <input type="text" class="map-search-box" placeholder="Search Box">
      </script>

      <ui-gmap-google-map
                center="map.center"
                zoom="map.zoom"
                draggable="true">
        <ui-gmap-search-box
        				class="map-search-box"
        				options="searchbox.options"
        				template="searchbox.template"
        				events="searchbox.events"
        				parentdiv="searchbox.parentdiv">
        </ui-gmap-search-box>
        <ui-gmap-marker
        				coords="marker.coords" idKey="marker.id">
        </ui-gmap-marker>
      </ui-gmap-google-map>

      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid" ng-cloak ng-click="addEvent(eventName, eventHost, eventLocation)">Party On Wayne</button>
    </form>
  </div>

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <p ng-show="guestList.length !== 0">guest list</p>
    <!-- <ul ng-repeat="guest in guestList">
      <li>{{guest.fname + " " + guest.lname}}</li>
    </ul> -->
    <div class="list-group" ng-repeat="guest in guestList">
			<a href="#" class="list-group-item">{{guest.fname + " " + guest.lname}}</a>
    </div>
    <button type="button" class="btn btn-primary btn-xs hidden-sm hidden-md hidden-lg" id="guestListToggle" data-toggle="offcanvas">Hide Guest List</button>
  </div>
  <script>
  	$(document).ready(function () {
		  $('[data-toggle="offcanvas"]').click(function () {
		    $('.row-offcanvas').toggleClass('active');
		    if ($('#guestListToggle').text() == 'View Guest List')
		    	$('#guestListToggle').html('Hide Guest List');
		    else
		    	$('#guestListToggle').html('View Guest List');
		  });
		});
  </script>
</div>