<!-- <div class="row"> -->
<form novalidate name="form" class="form-new-event css-form">
  <h2 class="jumbotron text-center">New Event</h2>
  <p ng-show="err" class="bg-danger">{{err}}</p>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <label for="eventName">What is this event called?</label>
      <input type="name" id="eventName" class="form-control" placeholder="event name" ng-model="newEvent.name" name="eventName" required>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <label for="eventHost">Who's hosting?</label>
      <input type="name" id="eventHost" class="form-control" placeholder="event host" ng-model="newEvent.host" name="eventHost" required>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <label for="eventType">What type of event is it?</label>
      <input id="eventType" list="types" type="text" placeholder="event type" class="form-control" ng-model="newEvent.type" name="eventType" required/>
      <datalist id="types">
        <option value="Birthday">
          <option value="Wedding">
            <option value="Graduation">
              <option value="Anniversary">
                <option value="Meetup">
                  <option value="Potluck">
      </datalist>
    </div>
  </div>
  <div class="row date">
    <div class="col-xs-6 col-sm-6 col-md-4 form-group has-feedback has-feedback-left">
      <label class="control-label" for="startDate">What day does it start?</label>
      <input id="startDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newEvent.startDate" is-open="popup1.opened" datepicker-options="dateOptions" placeholder="start date" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()" required/>
      <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
    </div>
    <!-- <div class="col-md-2"> -->
      <!-- <uib-timepicker ng-model="startTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker> -->
    <!-- </div> -->
    <div class="col-xs-6 col-sm-6 col-md-4 form-group has-feedback has-feedback-left">
      <label class="control-label" for="endDate">What day does it end?</label>
      <input id="endDate" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newEvent.endDate" is-open="popup2.opened" datepicker-options="dateOptions" placeholder="end date" close-text="Close" alt-input-formats="altInputFormats" ng-click="open2()"  required/>
      <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
    </div>
    <!-- <div class="col-md-2">
      <uib-timepicker ng-model="endTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
    </div> -->
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="eventGuests">Who?</label>
      <input id="eventGuests" list="guests" type="text" placeholder="event guests" class="form-control" ng-model="newEvent.guest" name="eventGuest" />
      <datalist id="guests">
        <option ng-repeat="user in users" value="{{user.fname + ' ' + user.lname}}">
      </datalist>
      <button type="button" class="btn btn-xs btn-success new-guest-btn" ng-disabled="!newEvent.guest" ng-click="addGuest(newEvent.guest)">
        <span class="glyphicon glyphicon-plus plus-icon"></span>
      </button>
    </div>
      <!-- <button class="hide-button" ng-disabled="!eventGuest" ng-click="addGuest(eventGuest)"><i class="glyphicon glyphicon-plus add-guest text-left"></i></button> -->

  </div>
  <!-- <label for="eventGuestSearch">Who's attending this event?</label>
    <div  angucomplete-alt id="eventGuest" placeholder="enter a guest name" pause="300" selected-object="selectedPerson" local-data="users" local-search="localSearch" title-field="fname,lname" minlength="1" input-class="form-control form-control-small" match-class="highlight" clear-selected="true">
    </div> -->
  <!-- <div class="col-xs-2">
        <button class="btn btn-primary btn-lg" type="submit" ng-cloak ng-click="addGuest(selectedPerson.originalObject); clearSelection(eventGuest)">Add</button>
      </div> -->
  <label for="eventLocation">Where is it happening?</label>
  <div id="eventLocation"></div>
  <!-- <input type="name" id="eventLocation" class="form-control" placeholder="event location" ng-model="eventLocation" name="eventLocation" required> -->
  <script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" class="map-search-box" placeholder="event location">
  </script>
  <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
    <ui-gmap-search-box class="map-search-box" options="searchbox.options" template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv">
    </ui-gmap-search-box>
    <ui-gmap-marker coords="marker.coords" idKey="marker.id">
    </ui-gmap-marker>
  </ui-gmap-google-map>
  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="form.$invalid" ng-cloak ng-click="addEvent(newEvent)">Party On Wayne</button>
</form>
<!-- </div> -->
